@using Domain.DueDiligence.Enum
@model ODP.Web.UI.Models.DueDiligence.AnaliseCadastroViewModel



<div class="modal fade" id="analiseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Análise de Cadastro</h5>             



                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post">
                    <div class="form-group">
                        <label asp-for="NroProtocolo"></label>
                        <input asp-for="NroProtocolo" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="DataAnalise"></label>
                        <input asp-for="DataAnalise" class="form-control" readonly value="@Model.DataAnalise.ToString("dd/MM/yyyy HH:mm")" />
                    </div>
                    <div class="form-group">
                        <label asp-for="AnaliseTecnica"></label>
                        <textarea asp-for="AnaliseTecnica" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="Risco"></label>
                        @Html.DropDownListFor(m => m.Risco, new SelectList(Enum.GetValues(typeof(ETipoRisco))), new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label asp-for="Ressalvas"></label>
                        @Html.DropDownListFor(m => m.Ressalvas, new SelectList(Enum.GetValues(typeof(ETipoRessalva))), new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label asp-for="Responsavel"></label>
                        <input asp-for="Responsavel" class="form-control" readonly value="@Model.Responsavel" />
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar Análise</button>
                </form>
            </div>
        </div>
    </div>
</div>