@using ODP.Web.UI.Extensions
@inject IUser AppUser

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] </title>

    <!-- Stylesheets consolidados -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Shared/Layout.css" />
    <link href="~/css/due/due.css" rel="stylesheet" />
    <link href="~/css/consulta/consultas.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body>
    <aside class="sidebar">
        <header>
            <a asp-controller="Home" asp-action="Index">
                <img src="~/imagens/logo_cge_155x95.png" class="img-fluid" />
            </a>
        </header>

        <nav class="sidebar-nav">
            <ul>
                @if (AppUser.EstaAutenticado())
                {
                    @if (AppUser.PossuiRole("Administrador"))
                    {
                        <li>
                            <a href="#"><i class="fas fa-search fa-lg"></i> <span>Observatório</span></a>
                            <ul class="nav-flyout">
                                <li>
                                    <a asp-controller="DueDiligence" asp-action="Index"><i class="fas fa-users fa-lg"></i>Due Diligence</a>
                                </li>
                                <li>
                                    <a asp-controller="Consulta" asp-action="Index"><i class="fas fa-folder-open fa-lg"></i>Consulta CNPJ/CPF</a>
                                </li>
                                <li>
                                    <a asp-controller="Grafico" asp-action="GraficoODP"><i class="fas fa-chart-bar fa-lg"></i>Gráficos</a>
                                </li>
                            </ul>
                        </li>
                    }

                    @if (AppUser.PossuiRole("Administrador") || AppUser.PossuiRole("Operador"))
                    {
                        <li>
                            <a href="#"><i class="fas fa-file-alt fa-lg"></i> <span>Corregedoria</span></a>
                            <ul class="nav-flyout">
                                <li>
                                    <a asp-controller="Corregedoria" asp-action="Index"><i class="fas fa-file fa-lg"></i>Instaurações</a>
                                </li>
                                <li>
                                    <a asp-controller="Corregedoria" asp-action="Graficos"><i class="fas fa-chart-bar fa-lg"></i>Graficos</a>
                                </li>
                                <li>
                                    <a asp-controller="Corregedoria" asp-action="upload"><i class="fas fa-cloud-upload-alt fa-lg"></i>Upload Arquivos</a>
                                </li>
                            </ul>
                        </li>
                    }

                    <!-- Seção Gabinete -->
                    @if (AppUser.PossuiRole("Administrador") || AppUser.PossuiRole("Usuario"))
                    {
                        <li>
                            <a href="#"><i class="fas fa-search fa-lg"></i> <span>Gabinete</span></a>
                            <ul class="nav-flyout">
                                <li>
                                    <a asp-controller="AnaliseTecnica" asp-action="ListarDadosAdicionais"><i class="fas fa-id-card fa-lg"></i>Análise Técnica</a>
                                </li>
                                <li>
                                    <a asp-controller="" asp-action=""></a>
                                </li>
                            </ul>
                        </li>
                    }

                    <!-- Seção Administrativa -->
                    @if (AppUser.PossuiRole("Administrador"))
                    {
                        <li>
                            <a href="#"><i class="fas fa-box-open fa-lg"></i> <span>Internos</span></a>
                            <ul class="nav-flyout">
                                <li>
                                    <a asp-controller="Cooperacao" asp-action="Index"><i class="fas fa-handshake fa-lg"></i>Termos de Cooperação</a>
                                </li>
                                <li>
                                    <a asp-controller="ContratosInternos" asp-action="Index"><i class="fas fa-file-contract fa-lg"></i>Contratos Internos</a>
                                </li>
                                <li>
                                    <a asp-controller="Demandas" asp-action="Index"><i class="fas fa-tasks fa-lg"></i>Demandas Internas</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fas fa-tools fa-lg"></i> <span>Painel</span></a>
                            <ul class="nav-flyout">
                                <li>
                                    <a asp-controller="Identidade" asp-action="ListarUsuarios"><i class="fas fa-list fa-lg"></i>Listar Usuários</a>
                                </li>
                                <li>
                                    <a asp-controller="Identidade" asp-action="ListarUsuariosLogados"><i class="fas fa-list fa-lg"></i>Usuários Logados</a>
                                </li>
                                <li>
                                    <a asp-controller="Identidade" asp-action="Registro"><i class="fas fa-user-plus fa-lg"></i>Criar Usuários</a>
                                </li>
                            </ul>
                        </li>
                    }

                    <li>
                        <a asp-controller="Identidade" asp-action="Logout"><i class="fas fa-sign-out-alt fa-lg"></i>Sair</a>
                    </li>
                }
                else
                {
                    <li class="px-1 mt-2">
                        <a class="btn btn-success px-lg-5 mx-lg-5" asp-controller="Identidade" asp-action="Login">Acessar</a>
                    </li>
                }
            </ul>
        </nav>
    </aside>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <!-- Navbar mantido igual -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">ODP</a>
            @if (AppUser.EstaAutenticado())
            {
                <div class="btn btn-light d-flex align-self-end">
                    @User.GetUserEmail()
                </div>
            }
        </div>
    </nav>

    <main>
        <div class="container main">
            <div class="main-content align-items-center">
                @RenderBody()
            </div>
        </div>
    </main>

    <footer class="text-center text-white">
        © 2024 Copyright
        <a class="text-white" href="https://www.cge.pr.gov.br/Pagina/Observatorio-da-Despesa-Publica">:Observatório da Despesa Pública - ODP</a>
    </footer>

    <!-- Scripts consolidados -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>