@model List<string>


<div class="container-fluid">
    <div class="table-responsive shadow">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Usuários <b>Logados</b></h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Email</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        @foreach (var email in Model)
                        {
                            <tr>

                                <td>@email</td>
                            

                            </tr>

                        }
                    }

                    else
                    {
                        <tr>

                            <td>Nenhum usuário logado.</td>


                        </tr>
                    }
                </tbody>

            </table>


        </div>
    </div>
</div>