

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <link href="/css/LayoutCCor/LayoutGrafico.css" rel="stylesheet" />

    <title>Instauração</title>
</head>

<body>
    <div class="row">
        <nav class="navbar bg-light-blue">
            <div class="container">                
                <h3>Análise de Processos Instaurados - 2023-2024</h3>
            </div>
        </nav>
        <div class="container-fluid">
            <iframe src='https://bi2.pr.gov.br/single/?appid=8fa8292b-678c-4719-8215-9faf4d92085d&sheet=7962ec3e-756c-4d15-908c-652c7fc6b72e&lang=pt-BR&theme=horizon&opt=currsel%2Cctxmenu&select=clearall'
                    style='width: 1600px; height: 600px;'></iframe>
        </div>

    </div>
   
</body>
</html>






   
   







