

@{
    ViewData["Title"] = "Upload de Arquivo CSV";
}

<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success">
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger">
            @TempData["MensagemErro"]
        </div>
    }

    <form asp-action="UploadCsv" asp-controller="Corregedoria" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Escolha o arquivo CSV:</label>
            <input type="file" class="form-control" id="file" name="file" accept=".csv" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
