@using Newtonsoft.Json
@using ODP.Web.UI.Extensions
@model IEnumerable<ODP.Web.UI.Models.Corregedoria.InstauracaoDTO>

@{
    ViewData["Title"] = "Upload";
}




<div class="card text-center " style="margin-left:20em; ">
    <form asp-controller="Corregedoria" asp-action="UploadCsv" method="post" enctype="multipart/form-data">
        <div class="card-header" style="background:var(--azul-cge); color:white; ">
            <label for="file">Escolha um arquivo CSV:</label>
        </div>
        <div class="card-body p-4">
            <input type="file" id="file" name="file" accept=".csv" class="form-control" />
            
        </div>
        <button type="submit" class="btn btn-info mb-2">Enviar</button>
        @if (ViewData.ModelState != null && ViewData.ModelState.Count > 0)
        {
            <div class="validation-summary-errors">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
    </form>




</div>
