@using Domain.Internos.Enum
@model ODP.Web.UI.Models.Cooperacao.TermoCooperacaoViewModel

@{
    ViewData["Title"] = "Editar";
}

<div class="container shadow-lg border-1  px-4 py-3 mt-3">
    <form asp-action="Editar" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Editar <b>Termo de Cooperação</b></h2>
                </div>
            </div>
        </div>

        <div class="row  p-1">

            <input type="hidden" asp-for="Id" />


            <div class="form-group col-6">
                <label asp-for="Orgao" class="control-label"></label>
                <input asp-for="Orgao" class="form-control" />
                <span asp-validation-for="Orgao" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="Sigla" class="control-label"></label>
                <input asp-for="Sigla" class="form-control" />
                <span asp-validation-for="Sigla" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="Protocolo" class="control-label"></label>
                <input asp-for="Protocolo" class="form-control" />
                <span asp-validation-for="Protocolo" class="text-danger"></span>
            </div>


        </div>

        <div class="row   p-1">
            <div class="form-group col-sm-3">
                <label asp-for="InicioVigencia" class="control-label"></label>
                <input asp-for="InicioVigencia" class="form-control" />
                <span asp-validation-for="InicioVigencia" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-3">
                <label asp-for="FimVigencia" class="control-label"></label>
                <input asp-for="FimVigencia" class="form-control" />
                <span asp-validation-for="FimVigencia" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-3">
                <label asp-for="Validade" class="control-label"></label>
                <input asp-for="Validade" class="form-control" />
                <span asp-validation-for="Validade" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-3">
                <label asp-for="Status" class="control-label"></label>
                @Html.DropDownListFor(m => m.Status, new SelectList(Enum.GetValues(typeof(ETipoStatus))), new { @class = "form-control" })
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>

        <div class="row   p-1">
            <div class="form-group col-sm-2">
                <label class="control-label">Ativo</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Ativo" value="true" id="ativoSim">
                    <label class="form-check-label" for="ativoSim">Sim</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Ativo" value="false" id="ativoNao">
                    <label class="form-check-label" for="ativoNao">Não</label>
                </div>
                <span asp-validation-for="Ativo" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-2">
                <label class="control-label">Renovar</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Renovar" value="true" id="renovarsim">
                    <label class="form-check-label" for="renovarsim">Sim</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Renovar" value="false" id="renovarnao">
                    <label class="form-check-label" for="renovarnao">Não</label>
                </div>
                <span asp-validation-for="Renovar" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-3">
                <label asp-for="NroTermo" class="control-label"></label>
                <input asp-for="NroTermo" class="form-control" />
                <span asp-validation-for="NroTermo" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-2">
                <label asp-for="DIOE" class="control-label"></label>
                <input asp-for="DIOE" class="form-control" />
                <span asp-validation-for="DIOE" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-3">
                <label asp-for="DataPublicacao" class="control-label"></label>
                <input asp-for="DataPublicacao" class="form-control" />
                <span asp-validation-for="DataPublicacao" class="text-danger"></span>
            </div>
        </div>

        <div class="row   p-1">
            <div class="form-group col-md-6">
                <label asp-for="Observacao" class="control-label"></label>
                <textarea asp-for="Observacao" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Objeto" class="control-label"></label>
                <textarea asp-for="Objeto" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Objeto" class="text-danger"></span>
            </div>
        </div>

        <div class="row   p-1">
            <div class="form-group col-md-6">
                <label asp-for="Regulamentacao" class="control-label"></label>
                <textarea asp-for="Regulamentacao" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Regulamentacao" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Informacoes" class="control-label"></label>
                <textarea asp-for="Informacoes" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Informacoes" class="text-danger"></span>
            </div>
        </div>
        <!-- Botão de submit -->
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <a class="btn btn-danger" href="@Url.Action("Index", "cooperacao")">Cancelar</a>
                <button type="submit" class="btn btn-primary ml-3">Salvar</button>

            </div>

        </div>
    </form>
</div>
