@using Domain.DueDiligence.Enum
@model ODP.Web.UI.Models.DueDiligence.AnaliseCadastroViewModel



<h2>Criar Nova Análise</h2>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NroProtocolo"></label>
        <input asp-for="NroProtocolo" class="form-control" required />
        <span asp-validation-for="NroProtocolo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataAnalise"></label>
        <input asp-for="DataAnalise" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="AnaliseTecnica"></label>
        <textarea asp-for="AnaliseTecnica" class="form-control"></textarea>
        <span asp-validation-for="AnaliseTecnica" class="text-danger"></span>
    </div>

    <!-- DropDown para Risco -->
    <div class="form-group">
        <label asp-for="Risco"></label>
        @Html.DropDownListFor(m => m.Risco, new SelectList(Enum.GetValues(typeof(ETipoRisco))), new { @class = "form-control" })
        <span asp-validation-for="Risco" class="text-danger"></span>
    </div>

    <!-- DropDown para Ressalvas -->
    <div class="form-group">
        <label asp-for="Ressalvas"></label>
        @Html.DropDownListFor(m => m.Ressalvas, new SelectList(Enum.GetValues(typeof(ETipoRessalva))), new { @class = "form-control" })
        <span asp-validation-for="Ressalvas" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Responsavel"></label>
        <input asp-for="Responsavel" class="form-control" readonly />
    </div>

    <button type="submit" class="btn btn-primary">Salvar Análise</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


